.section-banner {
  display: flex;
  background-color:  #ae3b44;
  border-top: 6px solid #222222;
}

.section-banner-title {
  color: #edf2f5;
  font-size: 24px;
  width: 70%;
  font-weight: normal;
}

.section-banner-content-wrap {
  position: relative;
}

.section-banner-content {
  display: flex;
  padding: 21px 23px 22px 32px;
}

.section-banner-descripton {
  color: #222222;
  font-size: 12px;
  line-height: 19px;
  margin-left: 69px;
}

.section-banner-img {
  max-width: 246px;
  max-height: 130px;
}

.section-banner-buttons {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.btn-arrow {
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  display: block;
  padding: 3px;
}

.btn-arrow-right {
  border: none;
  background: none;
  transform: rotate(-45deg);
  padding: 0;
  margin-left: 20px;
}

.btn-arrow-left {
  border: none;
  background: none;
  transform: rotate(135deg);
  padding: 0;
}