.section-clients {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.section-clients-title {
  color: #212121;
  font-size: 18px;
  font-weight: normal;
}

.section-clients-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 77%;
}

.section-clients-image {
  filter: grayscale(1);
  opacity: 0.7;
  cursor: pointer;
}

.section-clients-image:hover {
  filter: grayscale(0);
  opacity: 1;
}