.section-deployment-wrapper {
  padding: 30px 0 0 35px;
}

.section-deployment-title {
  font-size: 24px;
  color: #3d3d3d;
  width: 65%;
}

.section-deployment-title-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.section-deployment-description {
  color: #909293;
  font-style: italic;
  padding-bottom: 29px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 15px;
  line-height: 21px;
}

.section-deployment-content-title {
  color: #ae3b44;
  font-size: 15px;
  margin-bottom: 21px;
  font-weight: normal;
}

.section-deployment-content-description {
  font-size: 12px;
  line-height: 1.6;
}

.sub-section-deployment-content-description {
  margin-bottom: 25px;
}

.deployment-content-line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 28px;
  margin-bottom: 25px;
}

.deployment-content-line-end {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 22px;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
}

.section-deployment-content-image {
  display: block;
  margin: 35px 124px 10px 85px;
}

.image-description {
  opacity: 0.5;
  color: #3c3c3c;
  font-size: 11px;
  text-align: center;
  margin-bottom: 33px;
}

.image-wrapper-float {
  float: left;
}

.image-float {
  margin: 31px 35px 27px 0;
}

.date {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
  background-image: url(../../../img/datebackground.png);
}

.date-number {
  opacity: 0.4;
  color: #3c3c3c;
  font-size: 17px;
  padding-bottom: 5px;
}

.date-month,
.date-year {
  opacity: 0.5;
  color: #939799;
  font-size: 10px;
}

.button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.button-prev:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../../../img/btnarrow.png);
  position: relative;
  top: 1px;
  margin-right: 20px;
}

.button-next:after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../../../img/btnarrow.png);
  position: relative;
  top: 1px;
  margin-left: 20px;
  transform: rotate(180deg);
}

.btn {
  border: none;
  background: none;
  font-size: 15px;
  color: #ae3b44;
  position: relative;
  cursor: pointer;
  padding: 0;
}
