.main-content {
  display: flex;
  border-bottom: 1px solid rgba(0, 0,0, .1);
  margin-bottom: 25px;
}

.menu {
  min-width: 246px;
  padding-top: 42px;
  border-right: 1px solid rgba(0, 0,0, .1);
}

.menu-title-wrapper {
  padding: 10px 20px 10px 15px;
  background-image: url(../../../img/line.png);
  border-bottom: 1px solid rgba(0, 0,0, .1);
}

.menu-title { 
  font-size: 18px;
  color: #212121;
  font-style: normal;
  font-weight: normal;
}

.menu-content-item {
  padding: 12px 20px 13px 18px;
  border-bottom: 1px solid rgba(0, 0,0, .1);
}

.menu-content .is-active {
  background-color: #ae3b44;
  position: relative;
}

.menu-content .is-active::after {
  content: "";
  position: absolute;
  right: -4%;
  top: 35%;
  border: 5px solid transparent; 
  border-left: 5px solid #ae3b44;
}

.is-active .menu-content-link {
  color: #ffffff;
}

.is-active:hover .menu-content-link {
  color: #ffffff;
}

.menu-content-item :last-child {
  border: none;
}

.menu-content-item {
  cursor: pointer;
}

.menu-content-item:hover > .menu-content-link {
  color: #ae3b44;
}

.dropdown-menu-item:hover > .menu-content-link {
  color: #ae3b44;
}

.sub-dropdown-menu-item:hover > .menu-content-link {
  color: #ae3b44;
}

.menu-content-link {
  display: block;
  font-size: 12px;
  color: #3c3c3c;
}

.menu-content-link:hover {
  color: #ae3b44;
}

.dropdown-menu-item {
  border-bottom: 1px solid rgba(0, 0,0, .1);
  padding: 15px 20px 12px 40px;
}

.sub-dropdown-menu-item {
  border-bottom: 1px solid rgba(0, 0,0, .1);
  padding: 12px 20px 13px 60px;
}

.dropdown, .sub-dropdown {
  padding: 0;
}

.menu-is-active > .menu-content-link {
  padding: 12px 20px 13px 18px;
}

.sub-menu-is-active > .menu-content-link {
  padding: 12px 20px 13px 40px;
}

.dropdown-menu {
  background-color: #f4f7f8;
}

.sub-dropdown-menu {
  background-color: #eaeaea;
  position: relative;
}

.arrow {
  position: relative;
}

.arrow::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 9px;
  background-image: url(../../../img/menuarrow.png);
  background-repeat: no-repeat;
  right: 15px;
  top: 15px;
}

.menu-is-active::after {
  content: '';
  transform: rotate(90deg);
}

.sub-menu-is-active::after {
  content: '';
  transform: rotate(90deg);
}

.sub-dropdown-menu-item::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 9px;
  background-image: url(../../../img/menuarrow.png);
  background-repeat: no-repeat;
  left: 40px;
}