*, *::after, *::before {
	box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-image: linear-gradient(to bottom, #e3eaefe6, #e2e9ee 7%, #ffffff 20%), url(../../img/back/world_map.png);
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: top;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

ul, img {
  margin: 0;
  padding: 0;
}

figure {
  display: inline-flex;
  margin: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

a {
  text-decoration: none;
}