.footer {
  background-color: #f8f8f8;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.footer-content {
  display: flex;
  justify-content: space-around;
  opacity: 0.7;
  padding: 20px 0 25px 0;
}

.link-wrapper {
  display: flex;
  justify-content: space-between;
}

.links-title, .security-title, .social-title {
  color: #393939;
  font-size: 15px;
  margin-bottom: 24px;
  font-weight: normal;
}

.links-list:not(:last-child) {
  margin-right: 75px;
}

.links-item:hover, .security-item:hover, .social-image:hover {
  cursor: pointer;
  opacity: 1;
}

.links-item, .security-item, .copyright {
  opacity: 0.5;
  color: #393939;
  font-size: 12px;
  line-height: 19px;
}

.copyright {
  font-size: 11px;
}

.icon {
  width: 24px;
  height: 24px;
  filter: grayscale(1);
  border-radius: 4px;
}

.icon:hover {
  filter: grayscale(0);
}

.social-list {
  display: flex;
  margin-bottom: 15px;
}

.social-list-item:not(:last-child) {
  margin-right: 4px;
}

.nav-social {
  display: block;
}