.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 0 43px 0;  
  position: relative;
}

.logo {
  color: #262626;
  font-size: 37px;
  letter-spacing: -2px;
  line-height: normal;
  margin-left: 25px;
}

.logo-image {
  position: absolute;
  left: 3px;
  top: 35px;
}

.nav {
  margin-right: 35px;
}

.nav-header {
  display: flex;
}

.nav-item {
  list-style: none;
}

.nav-header .nav-item:not(:first-child) {
  margin-left: 22px;

}

.nav-link {
  color: #3c3c3c;
  font-size: 13px;
}

.nav-link:hover {
  color: #ae3b44;
}

.nav-dropdown,
.sub-nav-dropdown {
  display: none;
  width: 150px;
  background-color: #212121;
  padding: 0;
}

.nav-dropdown::before {
  content: "";
  position: absolute;
  left: 45%;
  top: -11%;
  border: 5px solid transparent;
  border-bottom: 5px solid #212121;
}


.dropdown-link, .sub-dropdown-link {
  padding: 8px 10px;
  cursor: pointer;
}

.dropdown-link:hover .nav-link {
  color: #ffffff;
}

.dropdown-link .nav-link:hover {
  color: #ffffff;
}

.dropdown-link .nav-link {
  color: #9ca0a2;
  font-size: 12px;
  display: block;
}

.sub-nav-link {
  color: #9ca0a2;
  font-size: 12px;
  display: block;
}

.sub-dropdown-link:hover .sub-nav-link {
  color: #ffffff;
}


.is-active {
  position: relative;
}

.is-active:hover .nav-dropdown {
  display: block;
  position: absolute;
  left: -110%;
  top: 120%;
}

.sub-is-active:hover .sub-nav-dropdown {
  display: block;
  position: absolute;
  left: 103%;
  top: 0;
  z-index: 1;
}

.sub-nav-dropdown::before {
  content: "";
  position: absolute;
  left: -3%;
  top: 5%;
  border: 5px solid transparent;
  border-left: 5px solid #212121;
}

.link-is-active::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 5%;
  border: 5px solid transparent;
  border-left: 5px solid #ffffff;
}